<div class="comments">
  <ul>
    <% if (current.post && current.post.recentComment) {
      if (current.post.recentComment.length > 1) {
      current.post.recentComment.each(function(comment) { %>
        <li class="<%= comment.postID %>">
          <div class="commented">
            <div class="profile">
              <!--img src="/images/<%= comment.user.username %>?size=30" alt="Profile Picture" /-->
              <img src="http://placehold.it/30x30" />
            </div>
            <div class="commented-msg">
              <p><span class="user"><a href="/<%=comment.user.username %>"><%= comment.user.fullname %></a></span></p>
              <p><%= comment.message %></p>
              <a href="#" class="rally-link">Rally</a>
            </div>
          </div>
        </li>
      <% });
      } else { %>
        <li class="<%= current.post.recentComment.postID %>">
          <div class="commented">
            <div class="profile">
              <!--img src="/images/<%= current.post.recentComment.user.username %>?size=30" alt="Profile Picture" /-->
              <img src="http://placehold.it/30x30" />
            </div>
            <div class="commented-msg">
              <p><span class="user"><a href="/<%=current.post.recentComment.user.username %>"><%= current.post.recentComment.user.fullname %></a></span></p>
              <p><%= current.post.recentComment.message %></p>
              <a href="#" class="rally-link">Rally</a>
            </div>
          </div>
        </li>
      <% }
    } %>
  </ul>
  <div class="comment">
    <div class="profile">
      <!--img src="/images/me?size=30" alt="Profile Picture" /-->
      <img src="http://placehold.it/30x30" />
    </div>
    <div class="comment-form">
      <textarea value="Write a comment..." placeholder="Write a comment..." title="Write a comment..." class="comment-text" name="add_comment_text_text">Write a comment...</textarea>
    </div>
  </div>
</div>