<div class="feed" <%= (el) -> el.data('feed', current) %>>
  <div class="profile">
    <!--img src="/images/<%= current.attr('comment.user.username') %>" alt="Profile Picture" /-->
    <img src="http://placehold.it/50x50" />
  </div>
  <div class="post">
    <p><span class="user"><a href="<%= current.attr('comment.user.username') %>"><%= current.attr('comment.user.fullname') %></a></span> commented on a post</p>
    <%== can.view.render('newsfeed/feed/list/views/post-sub.ejs', {current: current.comment}) %>
  </div>
</div>