<div id="<%= current.NewsFeedId %>" class="feed" <%= (el) -> el.data('feed', current) %>>
  <div class="profile">
    <!--img src="/images/<%= current.like.user.username %>" alt="Profile Picture" /-->
    <img src="http://placehold.it/50x50" />
  </div>
  <div class="post">
    <p><span class="user"><a href="/<%= current.like.user.username %>"><%= current.like.user.fullname %></a></span> rallied a post</p>
    <%== can.view.render('newsfeed/feed/list/views/post-sub.ejs', {current: current.like}) %>
  </div>
</div>