<div id="<%= current.NewsFeedId %>" class="feed" <%= (el) -> el.data('feed', current) %>>
  <div class="profile">
    <!--img src="/images/<%= current.post.SourceUser.username %>" alt="Profile Picture" /-->
    <img src="http://placehold.it/50x50" alt="Profile Picture" />
  </div>
  <div class="post">
    <p><span class="user"><a href="/<%= current.post.SourceUser.username %>"><%= current.post.SourceUser.fullname %></a></span> <span class="user postedon"><a href="/<%= current.post.DestinationUser.username %>"><%= current.post.DestinationUser.fullname %></a></span></p>
    <p><span class="post-message"><%= current.post.message %></span></p>
    <a href="#" class="rally-link">Rally</a>
    <div class="post-feedback">
      <div class="rally">
        <span class="ralliers"><a href="#" class="count"><%= current.post.rally.total %> rallied</a> this post</span>
      </div>
      <%== can.view.render('newsfeed/feed/list/views/comments.ejs', {current: current}) %>
    </div>
  </div>
</div>